.tooltip {
    position: fixed;
    background-color: black;
    width: 400px;
    transform: translate(20px, -20px);
    overflow: scroll;
    word-break: normal;

    padding: 20px;

    border-radius: 8px;
    background-color: #151515;

    h1 {
        margin: 0;
    }
}
