.container {
    display: grid;
    grid-template-rows: 32px 1fr;
    height: 100vh;
    gap: 8px;
    box-sizing: border-box;
    padding: 8px 16px 16px;
    background-color: var(--background);

    transition: background-color 200ms;
}
